@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/b612mono-bold-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/b612mono-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/b612mono-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/b612mono-regular.woff2') format('woff2');
}

/**
 * We use B612 Mono for monospace fonts, but it has very ugly parenthese `()` characters.
 * So the unicode range here makes this font only work for parens, and all other
 * characters will go with the next fallback (B612 Mono).
 */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-mono-parens.woff2') format('woff2');
  unicode-range: U+28-29;
}

@font-face {
  font-family: 'urbane-rounded';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/urbane-rounded.woff2') format('woff2');
}
